body {
	background-color: black;
}

h1 {
	margin: 20px auto 30px auto;
	background-color: rgb(53,58,64);
	border: 1px solid white;
	color: white;
}

.thickborders {
	border: 1px solid white;
	background-color: black;
}

header {
	padding: 0;
}


h2, h3, h4, h5 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.1em;
}

.themecolor {
	color: white;
	padding: 10px 0;
}

#blacktop {
	background-color: black;
	border: 1px solid white;
}

#negative {
	color: red;
}

.thead-dark tr th , .align-middle tr th , .align-middle tr td { 
    vertical-align: middle;
}

th {
	text-align: center;
}

td {
	text-align: right;
}

#bottomspace {
	margin-bottom: 15px;
}

#activebtn {
	background-color: rgb(53,58,64);
}

/*========================================*/
@media (max-width: 991.98px) {
	h2 {
		float:left;
	}
	h3 {
		text-align:right;
		float:left;
	}
}
