body {
	background-color: #5d6d87;
}

h1 {
	margin: 20px auto 30px auto;
}

.thickborders {
	border: 1px solid white;
}

header {
	padding: 0;
}


h2, h3, h4, h5 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.1em;
}

.themecolor {
	background-color: rgb(138,43,226);
	color: white;
	padding: 10px 0;
}

#negative {
	color: red;
}

th {
	text-align: center;
}

td {
	text-align: right;
}

#bottomspace {
	margin-bottom: 15px;
}

h1:active {
	background-image: url(https://worldview.stratfor.com/sites/default/files/styles/article_large/public/cryptocurrency-gulf-display-shutterstock-1028639176.png?itok=7ZpbB1s0);
	background-position: center;
}

/*========================================*/
@media (max-width: 991.98px) {
	h2 {
		float:left;
	}
	h3 {
		text-align:right;
		float:left;
	}
}